header{
    background:#145A32;
}

.icon-tel {
    font-size:20px;
    color:#d7d8d1;

}
.icon-facebook {
    font-size:20px;
    color:#d7d8d1;
}
.icon-instagram {
    font-size:20px;
    color:#d7d8d1;

}
.icon-youtube{
    font-size:20px;
    color:#d7d8d1;
}
.icon-whatsapp{
    font-size:20px;
    color:#d7d8d1;
}

.contact-info a{
    font-size:20px; 
    color:white;
text-decoration:none;
}

ul.menu {
    font-size: 20px;
    color:#145A32;
    text-decoration: none;
    list-style: none;
    
}

ul.menu li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    }

    ul.menu li a{
        text-decoration:none;
        color:black;
        margin: 20px;
        display: block;
    }


.titulo {
    font-size: 60px;
    color:white;

} 

.logo{
    width: 100px;
}

.banner{
    background: url("../images/fruits-canasta.jpg");
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pt-6{
    padding-top: 4rem;
    font-weight: 500;
    color:white;

}

.botton1{
    color:white;
    font-weight:500;
}

.botton1:hover {
    color:white;
    background:black;

}

.botton2{
    color: white;
    font-weight: 500;
}

.botton2:hover{
    color: white;
    background: black;
}

.botton3{
    color: white;
    font-weight: 500;
}

.botton3:hover{
    color: white;
    background: black;
}

.botton4{
    color: white;
    font-weight: 500;
}

.botton4:hover{
    color: white;
    background: black;
}

.botton5{
    color: white;
    font-weight: 500;
}

.botton5:hover{
    color: white;
    background: black;
}

.Inicio{
    color:white;
}

.banner2{
    font-size: 60px;
    color: black;
    font-weight: 500;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.container3{
    margin-left:50px;
}

.container4 p{
    font-size:15px;
    margin-left:50px;
    margin-right:50px;
    padding-top:30px;
}

.container5{
    padding-top: 20px;
}

.container6 a{
    color: black;
    font-size:25px; 
    text-decoration:none;
}

icon-tel2{
    font-size:20px;
}

.container6 img{
   
    margin-left:50px;
    padding-right:40px;
    image-orientation:from-image;
   
}