header{
    background:#145A32;
}

.icon-tel {
    font-size:20px;
    color:#d7d8d1;

}
.icon-facebook {
    font-size:20px;
    color:#d7d8d1;
}
.icon-instagram {
    font-size:20px;
    color:#d7d8d1;

}
.icon-youtube{
    font-size:20px;
    color:#d7d8d1;
}
.icon-whatsapp{
    font-size:20px;
    color:#d7d8d1;
}

.contacto{
    font-size:20px; 
    color:#d7d8d1;
    text-decoration: none;
}